<!DOCTYPE html>
<html>
  <head>
    <!-- Add any necessary meta tags, styles, or scripts here -->
    <title>One-Click Edit</title>
  </head>
  <body>
    <h1>Thank You for Your Feedback!&#x1F499;</h1>
    <a href="http://127.0.0.1:5000" class="return">Go back</a>
    <style>
      .return {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgba(103, 200, 232, 0.695);
        color: #000000; /* Text color */
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
    <!-- You can add more content or styling as needed -->
  </body>
</html>
