<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Click Edit</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
</head>
<body>
    <img
    class="logo"
    src="{{ url_for('static', filename='logo_f.png') }}"
    alt="one-click edit logo"
  />
    <a href="/main" class="login-button">SignUp with Dropbox</a>
    <h2 class="main">Transform your video with a <span>single</span> click</h2>
    <h2 class="submain">--- AI-powered video editing made effortless ---</h2>
    <a href="/join" class="magic">Start the Magic</a>
    <div class="reference-container">
      <h5 class="reference">Want to know more about our product?</h5>
      <a
        class="reference link"
        href="https://docs.google.com/document/d/1dKh-8RB_D4pmkT9Y3AZHSA_fWnPLUs9IY8W3c-aFY4w/edit?usp=sharing"
        >Click here</a
      >
    
</body>
</html>